.player{
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgba(223, 222, 218, 0.9);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 10 !important;
    span{
        font-size: 22px;
        margin-left: 12px;
    }
    
    img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active{
    background-color: orange;
}