.player{
    width: min-content;
    max-width: 120px;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(223, 222, 218, 0.9);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    span{
        font-size: 14px;
        margin-left: 0px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
    img{
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active{
    background-color: orange;
}